@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,*::after,*::before {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

div.App
{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  color:white;
  font-family: 'Roboto', sans-serif;

}
div#root{
  height:100vh;
  width:100%;
}
nav{
  background-color: #3f51b5 ;
  padding:1rem;
}
main{
  padding:1rem;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.SearchBar__wrapper
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15) ;
  padding:.5rem 1rem;
  transition: background-color .2s ease-in-out;
  border-radius: .3rem;
}
.SearchBar__wrapper:hover
{
  background-color: rgba(255, 255, 255, 0.25) ;
  transition: background-color .2s ease-in-out;

}

.SearchBar{
  width:50%;
  border:none;
  background:none;
  background-color:transparent;
  padding:.5rem 1rem;
  font-size:1.5rem;
  color:white;
  width:100%;
}
.SearchBar:active, .SearchBar:focus{
  outline:none;
}
.SearchBar::placeholder
{
  color:rgb(159, 157, 157);
}
